.resetPassword {
  min-height: 100vh;
  background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.resetPasswordForm {
  background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
  width: 50%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordInputs {
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 2vmax;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}

.token {
  margin: 1vmax 0;
  padding: 1vmax;
  width: 20%;
  border: none;
  border-radius: 10px;
  background-color: #0095f6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: background-color 0.3s;
}

.token:disabled {
  background-color: #b2dffc;
}

.token:hover:not(:disabled) {
  background-color: white;
}

.resetPasswordForm > a {
  align-self: flex-end;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.342);
  margin: 2vmax;
}

@media screen and (max-width: 600px) {
  .resetPasswordForm {
    width: 100%;
  }

  .resetPasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
  }

  .resetPasswordForm > a {
    align-self: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
  }
}
